.form-center {
    max-width: 35rem;
}
.btn {
    min-height: 3rem;
}
.form-heading {
    letter-spacing: 0 !important;
}
.bottom-message {
    margin-top: 1rem;
    text-align: center;
}

mat-icon {
    position: absolute;
    margin-top: 0.78rem;
}
.pl-3 {
    padding-left: 3rem !important;
}
