.correlation-field {
    max-width: 4.5rem;
    letter-spacing: 2px;
}

.otp-countdown {
    display: flex;
    align-items: center;
    > div {
        width: 12rem;
    }
}

.input-field {
    max-width: 25%;
}
.justify-flex-end {
    margin-right: 72%;
}
.btn {
    width: 28%;
}
