.sideDiv {
    width: 68rem;
    height: 20rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c4c4c4;
    border-radius: 0.25rem;
    margin: 4rem 0rem 0rem 4rem;
}

.sideImg {
    height: 12rem;
    width: 17%;
    background-size: cover;
    margin: 4rem 0rem 0rem 2rem;
}

.fullName {
    width: 10.688rem;
    height: 3.125rem;
}

.sizeS {
    width: 37px;
    height: 29px;
    font-weight: 600;
}

.paypaltxt {
    text-align: center;
    margin: 10rem 0rem 0rem 4.5rem;
    font-size: 1.5rem;
}

.checkoutBtn {
    width: 23.7rem;
    height: 3.1rem;
    margin: 1rem 0rem 0rem 3rem;
}

.color {
    margin-left: 0.4rem;
    width: 1.6rem;
    height: 1.6rem;
}

.right-box {
    width: 30rem;
    height: 34rem;
    background: #f2f2f2 0% 0% no-repeat padding-box;
    border-radius: 8px;
    margin: 3.9rem 5rem 0rem 5rem;
}

.bottom-line {
    width: 25rem;
    border: 1px solid #00295e;
    margin: 1rem 3rem 0rem 2rem;
}

.pricebtn {
    width: 23.5rem;
    height: 3.75rem;
    margin: 1.2rem 0rem 0rem 3rem;
    background-color: transparent;
    border: 1px solid black;
}

.pricebtnText {
    width: 7rem;
    height: 2rem;
    text-align: center;
    letter-spacing: -1.1px;
    color: black;
    margin: 1rem 0rem 0rem 1rem;
    font-size: 1.4rem;
}

.totalPrice {
    width: 40px;
    height: 29px;
    margin: 1rem 0rem 0rem 12rem;
    letter-spacing: -1.1px;
    font-size: 1.4rem;
    color: black;
}

.proceedBtn {
    width: 23.6rem;
    height: 3.75rem;
    border-radius: 4px;
    margin: 1rem 0rem 0rem 3rem;
    font-size: 1.4rem;
}

.continueBtn {
    width: 12rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 3px;
    margin: 6rem 0rem 0rem 30rem;
}

.continueBtn:hover {
    cursor: pointer;
}

.shopNowBtn {
    width: 10%;
    height: 4rem;
    margin: auto;
    border-radius: 0rem;
}

.material-icons {
    color: #c4c4c4;
    margin: 1rem 0rem 0rem 8rem;
    font-size: 30px;
}

.proceedText {
    width: 13rem;
    height: 2rem;
    text-align: left;
    letter-spacing: -1.1px;
    color: #ffffff;
}

h5,
h4 {
    text-align: center;
}

.image {
    display: block;
    margin: auto;
    width: 20%;
}
