.modal {
    padding: 0.8rem !important;
    text-align: left;
}
.btn-left {
    width: 40%;
    min-height: 3rem;
}
.delete-account-container {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
