.nav-links > div {
    display: flex;
    flex-direction: row;
}

.profile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    .ng-star-inserted {
        display: flex;
        align-items: center;
    }
}

.mat-icon {
    font-size: 32px;
    color: #000;
    margin-left: 1rem;
}

.profile-links i {
    cursor: pointer;
    margin-left: 1rem;
}

.account-links {
    position: relative;
}

.dropdown-content {
    top: 3rem;
    right: 0;
    left: -15rem;
    border-radius: 0.5rem;
}

.dropdown-content li {
    padding: 0.5rem;
    min-height: auto;
    font-size: 0.75rem;
}

.dropdown-content.show {
    opacity: 1;
    display: block;
}

.mat-menu-content:not(:empty) {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 2rem 4rem #5e5e5e54;
    padding: 1rem;

    button.mat-menu-item {
        transition: all 0.25s ease-in-out;
        background: #fff;
        color: #707070;
        border-radius: 0.25rem;
        letter-spacing: 1px;
        &:hover {
            background: #f1eaea;
            color: #313131;
        }
    }
}

.cdk-overlay-pane,
.mat-menu-panel {
    max-width: 18.75rem !important;
    width: 100%;
    box-shadow: 0px 2rem 3.75rem #5e5e5e54;
    border-radius: 1rem;
}

.delete-modal {
    .btn {
        &.cancel {
            background: none;
            border: 1px solid;
            color: #000;
        }
        &.confirm {
            background: red;
        }
    }
}

// navbar global css

.nav-links {
    display: flex;
    justify-content: flex-end;
    //width: 50rem;
    button,
    span {
        background: transparent;
        border: 0;
        cursor: pointer;
        color: #003c6d;
        letter-spacing: 1px;
    }
    .options {
        mat-icon {
            position: relative;
            top: 7px;
        }
        button {
            margin-right: 3rem;
            &:hover {
                color: #000 !important;
            }
        }
    }
    .auth-links {
        button {
            margin-left: 2rem;
            &:hover {
                color: #2063bb !important;
            }
        }
    }
}

span.user-name {
    font-size: 1.12rem;
    color: #0077b6;
    height: auto;
    white-space: nowrap;
}

.nav-partition {
    width: 0.125rem;
    background-color: #d2d1d1;
    height: 2rem;
    margin: 0 1.5rem;
}

.profile-links {
    mat-icon {
        font-size: 2rem;
        position: relative;
        bottom: 5px;
    }
}

.profile-icon {
    i {
        margin: 0;
        font-size: 2rem !important;
    }
}

mat-icon {
    position: relative;
}
.nav-links .mat-badge-content {
    color: #fff;
    background: #000;
    border-radius: 100%;
    font-family: 'Outfit', sans-serif;
    position: absolute;
    top: -1rem;
    right: -0.5rem;
    font-size: 0.75rem;
    text-align: center;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 35rem;
    height: 2.5rem;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    input {
        position: relative;
        top: 5px;
        left: 20px;
        border-bottom: 0 !important;
        &:focus {
            border-bottom: 0 !important;
        }
    }
}

// input[type='text']:not(.browser-default),
// input[type='text']:not(.browser-default):focus:not([readonly]) {
//     border-bottom: none;
// }
.upper-nav,
.lower-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}
.upper-nav {
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.lower-nav {
    position: relative;
    left: 7%;
    bottom: 7%;
    justify-content: left;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: small;
    span:hover {
        color: #003c6d;
        font-weight: 700;
    }
    mat-icon {
        position: relative;
        right: 20px;
        top: 9px;
    }
}
