.delete-box-size {
    max-width: 750px;
    text-align: left;
    top: 8rem;
    overflow: hidden;
}

.modal-content {
    padding: 0px;
}

.discount {
    max-width: 600px;
    text-align: left;
    padding: 2rem 3rem;
    top: 5rem;
}
mat-icon {
    font-size: smaller;
    top: 2px;
}
.discount-sub-heading {
    background-color: none;
}
